/*Selector Universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 50px;
    text-align: center;
}
/* Propiedades de la Caja */
.card {
    display: inline-block;
    width: 320px;
    background-color: #1e1e1e;
    margin: 20px;
    padding: 30px 20px;
    border-radius: 15px;
    vertical-align: top;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
/*  Estilos de la tarjeta perfil */
.card-perfil .avatar {
    width: 90px;
    height: 90px;
    background-color: #333;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 auto 20px;
}

.card-perfil .nombre {
    margin-bottom: 8px;
}

.card-perfil .descripcion {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6); 
    margin-bottom: 25px;
}

.btn-perfil {
    display: block;
    width: 100%;
    margin-bottom: 10px;  
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-perfil:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}
