/*Selector Universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 50px;
    text-align: center;
}
/* Propiedades de la Caja */
.card {
    display: inline-block;
    width: 320px;
        background-color: #1e1e1e;
    margin: 20px;
    padding: 30px 20px;
    border-radius: 15px;
    vertical-align: top;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}