/*Selector Universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google fonts*/
.gideon-roman-regular {
  font-family: "Gideon Roman", serif;
  font-weight: 400;
  font-style: normal;
}


body {
    background-color: #121212;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 50px;
    text-align: center;
}
/* Propiedades de la Caja */
.card {
    display: inline-block;
    width: 320px;
    background-color: #1e1e1e;
    margin: 20px;
    padding: 30px 20px;
    border-radius: 15px;
    vertical-align: top;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
/*  Estilos de la tarjeta perfil */
.card-perfil .avatar {
    width: 90px;
    height: 90px;
    background-color: #333;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 auto 20px;
}

.card-perfil .nombre {
    margin-bottom: 8px;
}

.card-perfil .descripcion {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6); 
    margin-bottom: 25px;
}

.btn-perfil {
    display: block;
    width: 100%;
    margin-bottom: 10px;  
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    cursor: pointer;
}

.btn-perfil:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}

/* --- ESTILOS TARJETA GOOGLE PLAY --- */
.card-google .instruccion {
    color: #9aa0a6;
    margin: 10px 0 20px;
}

.estrella {
    display: inline-block; 
    font-size: 30px;
    color: #9aa0a6;
    margin: 0 5px;
    cursor: pointer;
}

.estrella:hover {
    color: #8ab4f8;
}

.btn-google {
    display: block;
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    background-color: transparent;
    color: #8ab4f8;
    border: 1px solid #5f6368;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

/* La imagen que está dentro de .avatar */
.card-perfil .avatar img {
    width: 100%; 
    height: 100%;
        object-fit: cover;
    border-radius: 50%;
}

.card-perfil .avatar {
    width: 90px; 
    height: 90px;
    margin: 0 auto 20px; 
    border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 50%;
    overflow: hidden; 
}

.avatar-container {
    position: relative; /* El contenedor padre debe ser relative */
    width: 90px;
    margin: 0 auto 20px;
}

.badge-verificado {
    position: absolute; /* Se posiciona respecto al contenedor */
    bottom: 5px;
    right: 5px;
    background-color: #0062ff;
    color: #121212;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #1e1e1e;
}

.navbar-mejorado {
    position: fixed; /* O sticky: top: 0; */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1e1e1e;
    padding: 15px;
    border-bottom: 2px solid #8ab4f8;
    z-index: 1000; /* Asegura que esté por encima de todo */
}